@import '../../../scss/core/themes/xinmember';
@import '../../../scss/core/mixins';

$classname: "pg_xin";
$radio-color-blue:#0077b3;

@mixin size($w, $h) {
    width: $w;
    height: $h;
}
.#{$classname} {
    font-family: $font-family-base;
    height: 50px;
    .simple-pager{
      display: inline-block;
      height: 100%;
      margin: 4px 8px 4px 5px;
      position: relative;
      vertical-align: top;
      input{
        text-align: center;
        width: 50px;
        height: 40px;
        border-radius: 5px;
        border: solid 1px #ccc;
        margin:0 5px
      }
    }
    .bt_xin{
      display: inline-block;
      &.prev, &.next{
        width: 40px;
        height: 40px;
        margin: 4px 0;
        border-radius: 20px;
        border: 1px solid #ccc;
      }
      &.turnPage{
          width: 80px;
          margin-left: 10px;
      }
      >i{
        display: inline-block;
        @include size(16px, 16px);
        &.icon-prev{
          @include rotate(90deg);
        }
        &.icon-next{
          @include rotate(-90deg);
        }
      }
    }
  }