@import "../../../scss/core/themes/xinshop";

$classname: "cd_xmcc";

.#{$classname} {
  &.half {
      .btn {
          display: inline-block;
          white-space: nowrap;
          width: 50%;
          box-sizing: border-box;
      }
  }

  &.inline {
      .btn {
          display: inline-block;
          width: 100%;
          box-sizing: border-box;
      }
  }

}