@import '../../../../scss/core/themes/xinmember';
$classname: "int_xin";
$radio-color-blue:#0077b3;
@mixin size($w, $h) {
    width: $w;
    height: $h;
}

.#{$classname} {
    position: relative;
    font-size: $font-size-smedium;
    color: $text-color;
    box-sizing: border-box;
    border-radius: 0;
    &.int-control {
        display: inline-block;
        border: 0;
        cursor: pointer;
        // Radio button
        label {
            margin-left: 25px;
            vertical-align: middle;
            display: inline-block;
            padding: 6px 0;
            &:first-child {
                margin-left: 0;
            }
            input[type="radio"] {
                display: none;
                height: 26px;
                &:checked {
                    +.indicator {
                        &:after {
                            position: absolute;
                            @include size(10px, 10px);
                            content: '';
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            border-radius: 20px;
                            background-color: $main-red;
                        }
                    }
                }
            }
            .control-text {
                line-height: 24px;
                display: inline-block;
            }
        }
        input {
            width: 100%;
            box-sizing: border-box;
        }
        input, select,
        textarea {
            padding: 6px;
            line-height: 1.5;
            border: 1px solid #ddd;
            height: 40px;
            border-radius: 3px;
        }
        input[type="checkbox"] {
            width: auto;
        }
        select {
            @include size(100%, 40px);
            background-color: #fff;
            // padding: 6px;
            padding: 2px;
            line-height: 1.5;
            border: 1px solid #ddd;
        }
        textarea {
            height: auto;
        }
        // labelText
        &.labelText{
            cursor: text;
            p {
                width: 100%;    
                padding: 6px;
                line-height: 30px;
                margin: 0;
            }
        }
    }
    .indicator {
        position: relative;
        background-color: white;
        box-sizing: border-box;
        bottom: -5px;
        left: 0;
        display: inline-block;
        width: 20px;
        height: 20px;
        line-height: 20px;
        margin-right: 10px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        text-align: center;
        border: 1px solid #ddd;
        border-radius: 50%;
        -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    }
}

.require {
    .int-label {
        >label:after {
            content: "*";
            color: #e10500;
            display: inline-block;
            line-height: 1;
            vertical-align: middle;
        }
    }
}