@import "variables";
$classname: 'ic_xin';
// 編譯後的CSS所在位置，如果你的CSS有需要讀圖檔或字型，請在URL字串前加上'#{$resource-path}'
$resource-path: resource-path($classname);
@font-face {
    font-family: '#{$icomoon-font-family}';
    src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot');
    src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg##{$icomoon-font-family}') format('svg');
    font-weight: normal;
    font-style: normal;
}
$fb_color: rgb(59, 89, 152);
$line_color: rgb(58, 206, 1);
$google_color: rgb(221, 75, 57);
.#{$classname} {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: '#{$icomoon-font-family}' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    &.ic-arrow-down {
        &:before {
            content: $ic-arrow-down;
        }
    }
    &.ic-back {
        &:before {
            content: $ic-back;
        }
    }
    &.ic-bell {
        &:before {
            content: $ic-bell;
        }
    }
    &.ic-cart {
        &:before {
            content: $ic-cart;
        }
    }
    &.ic-cross {
        &:before {
            content: $ic-cross;
        }
    }
    &.ic-delete {
        &:before {
            content: $ic-delete;
        }
    }
    &.ic-fb {
        &:before {
          content: $ic-fb;
          color: $fb_color;
        }
    }
    &.ic-filter {
        &:before {
            content: $ic-filter;
        }
    }
    &.ic-google {
        &:before {
          content: $ic-google;
          color: $google_color;
        }
      }
    &.ic-hot {
        &:before {
            content: $ic-hot;
        }
    }
    &.ic-like {
        &:before {
            content: $ic-like;
        }
    }
    &.ic-line {
        &:before {
          content: $ic-line; 
          color: $line_color;
        }
      }
    &.ic-menu {
        &:before {
            content: $ic-menu;
        }
    }
    &.ic-message {
        &:before {
            content: $ic-message;
        }
    }
    &.ic-point {
        &:before {
            content: $ic-point;
        }
    }
    &.ic-search {
        &:before {
            content: $ic-search;
        }
    }
    &.ic-seat {
        &:before {
            content: $ic-seat;
        }
    }
    &.x12 {
        font-size: 120%;
    }
    &.x15 {
        font-size: 148%;
    }
    &.x2 {
        font-size: 200%;
    }
    &.x3 {
        font-size: 300%;
    }
    &.x4 {
        font-size: 400%;
    }
    &.x5 {
        font-size: 500%;
    }
}