$icomoon-font-family: "iconXin" !default;
$icomoon-font-path: "fonts" !default;

$ic-arrow-down: "\e900";
$ic-back: "\e901";
$ic-bell: "\e902";
$ic-cart: "\e903";
$ic-cross: "\e904";
$ic-delete: "\e905";
$ic-fb: "\e906";
$ic-filter: "\e908";
$ic-google: "\e907";
$ic-hot: "\e90b";
$ic-like: "\e90c";
$ic-line: "\e909";
$ic-menu: "\e90f";
$ic-message: "\e910";
$ic-point: "\e911";
$ic-search: "\e912";
$ic-seat: "\e913";


