// -------------------------------------
// Components / Modules Setting
// -------------------------------------
@import '../../../../scss/core.scss';
@import '../../../../scss/core/themes/xinmember';
$classname: "hd_xmb";
.#{$classname} {
    position: relative;
    padding: 10px 0;
    font-family: $font-family-base;
    .container {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .logo {
        display: table;
        margin: auto;
        text-align: center;
        padding: 0 10px;
        img {
            max-width: 105px;
        }
    }
    .hd {
        width: 100%;
        position: absolute;
        top: 0;
        .ic_xin {
            cursor: pointer;
            position: absolute;
            top: 15px;
        }
    }
    .lhd {
        .ic_xin {
            left: 10px;
        }
    }
    .rhd {
        .ic_xin {
            right: 20px;
        }
        .bd_red {
            cursor: pointer;
            position: absolute;
            top: 15px;
            width: 50px;
            background: $main-pink;
            color: $body-bg;
            border-radius: 20px;
            right: 12px;
            padding: 3px;
            font-size: $font-size-smedium;
            &:hover {
                background: $main-red;
            }
        }
        .mbinfo {
            >.bt_xin,
            >.cl_xmb {
                display: none;
            }
        }
    }
    .st_xin {
        .childcontent {
            position: absolute;
            width: 100%;
            top: 50px;
            border: 1px solid $light-gray-light;
            z-index: 1;
            // background: $body-bg;
        }
        .lig_xinmu {
            margin: 0;
            li+li {
                border-top: 1px solid $light-gray-light;
            }
        }
    }
    @media screen and (min-width:$screen-md) {
        .logo {
            display: inline-block;
            margin: 0;
        }
        .hd {
            width: auto;
            position: relative;
            top: auto;
            float: right;
            .ic_xin {
                position: relative;
                top: auto;
            }
        }
        .lhd {
            display: inline-block;
            vertical-align: middle;
            .ic_xin {
                display: none;
            }
            .childcontent {
                display: block;
                position: relative;
                top: auto;
                border: none;
            }
            .lig_xinmu {
                margin-right: 10px;
                li {
                    display: inline-block;
                    vertical-align: middle;
                    &+li {
                        border: none;
                    }
                }
            }
        }
        .rhd {
            display: inline-block;
            vertical-align: middle;
            .ic_xin {
                right: 0px;
                color: $main-red;
                margin: 0 5px;
                top: 2px;
            }
            .bd_red {
                position: relative;
                top: auto;
                width: 100px;
                right: auto;
                padding: 5px;
                font-size: $font-size-medium;
            }
            .childcontent {
                width: 150px;
                right: 10px;
                top: 45px;
            }
            .lig_xinmu {
                position: relative;
                &:before,
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    left: 50%;
                }
                &:before {
                    margin-left: -7px;
                    top: -8px;
                    width: 0;
                    height: 0;
                    border-color: transparent;
                    border-style: solid;
                    border-width: 0px 7px 8px 7px;
                    border-bottom-color: #e5e5e5;
                }
                &:after {
                    margin-left: -6px;
                    top: -7px;
                    width: 0;
                    height: 0;
                    border-color: transparent;
                    border-style: solid;
                    border-width: 0px 6px 7px 6px;
                    border-bottom-color: #fff;
                }
            }
            .mbinfo {
                >.cl_xmb {
                    display: inline-block;
                    vertical-align: middle;
                    max-width: 35px;
                    border-radius: 50%;
                }
                >.bt_xin {
                    display: inline-block;
                    vertical-align: middle;
                    width: auto;
                    font-weight: normal;
                    &:hover {
                        color: $link-color;
                    }
                }
                >.mbmu {
                    display: inline-block;
                    vertical-align: middle;
                }
            }
        }
    }
}