@import '../../../../scss/core/themes/xinmember';
$classname: 'layout_xin';

.#{$classname} {
    .hd_xmb {
        border-bottom: solid 1px $border-hr;
        margin-bottom: 15px;
    }
    .ft_xin{
        border-top: solid 1px $border-hr;
        margin-top: 15px;
    }
}