@import '../../../../scss/core/themes/xinmember';

$classname: "st_xin";

@mixin size($w, $h) {
    width: $w;
    height: $h;
}

.#{$classname} {
    position: relative;
    &.pcshow{
        .childcontent{
            display: block;
        }
    }
    .childcontent{
        display: none;
    }
}