@import "../../../scss/core/themes/xinshop";

$classname: "lig_xmside";
.#{$classname} {
    &.aside{
        .bt_xin{
            text-align: left;
            padding-left: 20px;
            font-weight: 400;
        }
    }
}

