@import '../../../scss/core/themes/xinmember';

$classname: 'tb_xin';

.#{$classname} {
    font-size: 13px;
    font-family: 'Microsoft JhengHei', serif;
    width: 100%;
    max-width: 980px;
    // min-width: 320px;
    margin: 0 auto;
    overflow: hidden;

    .row {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        border-bottom: solid 1px $light-gray;

        a.bt_xin {
            width: auto;
            padding: 0;
            color: $link-color;
            text-decoration: none;
        }

        &.head {
            display: none;
            background-color: $light-gray-lighter;
            color: $dark-gray-light;
            font-weight: bold;
            overflow: hidden;
            border: none;
            height: 30px;

            .text {
                line-height: 14px;
                padding: 5px 20px;
            }
        }

        &.content {
            margin-bottom: 10px;
            flex-direction: column;

            .text {
                width: 100%;
                text-align: left;
                padding: 0;

                &.date {
                    line-height: 16px;
                    font-size: $font-size-base;
                    min-width: 90px;
                }

                &:before {
                    content: attr(data-title);
                    display: inline-block;
                    background: $light-gray-lighter;
                    min-width: 30%;
                    width: 30%;
                    text-align: center;
                    padding-right: 1rem;
                    font-size: 14px;
                    line-height: 14px;
                    padding: 7px 0;
                    margin-right: 10px;
                }

                &:first-child {
                    &:before {
                        padding-top: 14px;
                    }
                }

                &:last-child {
                    &:before {
                        padding-bottom: 14px;
                    }
                }
            }
        }

        &.clicked {
            box-shadow: 0 2px 4px 0 rgba(34, 34, 34, 0.15), 0 1px 2px 0 rgba(34, 34, 34, 0.15);
        }
    }

    @media screen and (min-width:$screen-md) {
        .row {
            margin: 0;

            &.head {
                display: flex;

                .text {
                    display: inline-block;
                }
            }

            &.content {
                margin-bottom: 0px;
                flex-direction: row;

                .text {
                    display: inline-block;
                    padding: 10px 20px;
                    text-align: center;

                    &:before {
                        display: none;
                    }
                }
            }

            .text {
                text-align: center;
                width: 100%;
                padding: 10px 20px;

            }
        }
    }
}