// @import '../core/core/mixins';
// @import '../core/core/variables';
@import '../../../../scss/core/themes/xinmember';


$classname: 'int_rcln';
$fontSize: 14px;

@mixin fontBase($fontSize) {
    height: $fontSize;
    line-height: $fontSize;
    font-size: $fontSize;
    border: 0;
}

.#{$classname} {
    $theme_red: #e10500;
    $theme_lakegreen: #69c1a8;
    $theme_blue: #2381b8;

    @mixin colorSet($color) {
        >.int_rcln_input {
            border: 1px solid $color;
            color: $color;
        }

        >.int_rcln_input::placeholder,
        .int_rcln_input:empty::before {
            color: $color;
        }
    }

    position: relative;
    display: flex;
    // width: 100%;
    flex: 1;
    height: 40px;
    font-size: 16px;
    overflow: hidden;

    >input[type='email'],
    input[type='password'],
    input[type='search'],
    input[type='text'] {
        -webkit-appearance: none;
        -moz-appearance: none;
    }

    >.int_rcln_label {
        position: absolute;
        @include fontBase($fontSize);
        left: 5px;
        color: #aaa;
        align-self: center;
        white-space: nowrap;
    }

    >.int_rcln_input {
        margin: 0;
        max-width: 100%;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        flex: 1 0 auto;
        background: #fff;
        outline: 0;
        border: 1px solid #ddd;
        transition: border-color ease-in-out 0.15s;
        padding: 6px;
        border-radius: 0;

        &:focus {
            border-color: $theme_lakegreen;
        }
    }

    .int_rcln_input:not(input):empty::before {
        content: attr(data-placeholder);
        color: #777;
        @include fontBase($fontSize+2);
        display: block;
        // position: relative;
        // left: -1px;
    }

    >.int_rcln_input[disabled] {
        cursor: not-allowed;
        background-color: #f1f1f1;
    }

    &.error {
        @include colorSet($theme_red);
    }

    &.success {
        @include colorSet($theme_lakegreen);
    }

    &.blue {
        >.int_rcln_input {
            border: 1px solid $theme_blue;
            color: $theme_blue;
        }

        >.int_rcln_input::placeholder,
        .int_rcln_input:empty::before {
            color: #777;
        }
    }

    &.breakline {
        height: 50px;

        >.int_rcln_input {
            padding-left: 6px;
            padding-top: 26px;
        }

        >.int_rcln_label {
            top: 8px;
        }

        &.icon {
            >.int_rcln_label {
                left: 30px;
            }
        }
    }

    &.icon {
        >.int_rcln_input {
            padding-left: 30px;
        }

        >i {
            position: absolute;
            left: 5px;
            font-size: 20px;
            color: #aaa;
            align-self: center;
        }
    }

    &.noBorder {
        >.int_rcln_input {
            border: none;
        }
    }

    &.request {
        >.int_rcln_label {
            &:after {
                content: '*';
                display: inline-block;
                color: $theme_red;
                vertical-align: middle;
                line-height: 1;
                margin-top: 4px;
            }
        }
    }

    .clearBtn {
        width: 14px;
        height: 14px;
        background-color: #999999;
        border-radius: 50%;
        position: absolute;
        right: 10px;
        bottom: 12px;

        &:before {
            content: '';
            width: 60%;
            height: 1px;
            background: #fff;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            transform: rotate(45deg);
        }

        &:after {
            content: '';
            width: 60%;
            height: 1px;
            background: #fff;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            transform: rotate(-45deg);
        }
    }
}

.DropDownLayout {
    ul {
        display: flex;

        li {
            list-style-type: none;
            margin-right: 10px;

            &:hover {
                color: #fff;
                background-color: #ff625d;
                cursor: pointer;
            }

            &.active {
                background-color: #ff625d;
                color: #fff;
            }
        }
    }
}

@media (min-width: 980px) {
    .#{$classname} {
        >.int_rcln_label {
            font-size: 14px;
        }
    }
}

// ie 11 hack
@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    %vertical-middle-ie {
        top: 50%;
        transform: translateY(-50%);
    }

    .#{$classname} {
        >.int_rcln_input::-ms-clear {
            display: none;
        }

        &.icon {
            >i {
                @extend %vertical-middle-ie;
            }
        }

        >.int_rcln_label {
            @extend %vertical-middle-ie;
        }

        &.breakline {
            >.int_rcln_label {
                transform: none;
            }
        }
    }
}