@import '../../../../scss/core/themes/xinmember';

$classname: "ft_xin";

.#{$classname} {
    position: relative;
    font-family: $font-family-heading;
    padding: 30px 0px;

    .cl_xmb {
        text-align: left;
        margin-bottom: 10px;

        img {
            max-width: 140px;
        }
    }

    address {
        font-style: initial;
        font-size: 12px;
        color: $dark-gray-light;
        margin: 10px 5px 0 5px;
        text-align: left;
        line-height: 1.6em;
    }

    nav {
        text-align: left;
    }

    ul {
        // display: inline-block;
        // vertical-align: top;
        padding: 0px;
        margin: 0 0 10px 0;
        text-align: left;

        li {
            display: inline-block;
            list-style-type: none;
            margin: 0 5px;
            line-height: 1.5em;

            &:first-child {
                display: block;

                span {
                    font-size: $font-size-smedium;
                    color: $dark-gray-lighter;
                }
            }

            .bt_xin.bd_none {
                font-size: $font-size-smedium;
                color: $dark-gray;
                text-align: left;
                padding: 0;
                font-weight: normal;
                text-decoration: none;

                &:hover {
                    color: $link-hover-color;
                }
            }

        }
    }

    .container {
        >nav {

            ul:nth-child(2),
            :nth-child(3) {
                >li {
                    >span {
                        display: none;
                    }
                }

            }
        }
    }

    @media screen and (min-width:$screen-sm) {
        .cl_xmb {
            min-width: 350px;
            padding-bottom: 40px;
            display: inline-block;
            vertical-align: top;
        }

        address {
            position: absolute;
            bottom: 32px;
        }

        nav {
            display: inline-block;
            vertical-align: top;
            width: calc(100% - 352px);
            text-align: center;
        }

        ul {
            display: inline-block;
            vertical-align: top;
            min-width: 92px;
            margin: 0;

            li {
                display: block;

                &:first-child {
                    margin-bottom: 5px;
                }
            }
        }

        .container {
            >nav {

                ul:nth-child(2),
                :nth-child(3) {
                    >li {
                        >span {
                            display: block;
                        }
                    }

                }
            }
        }

    }

}