// -------------------------------------
// Components / Modules Setting
// -------------------------------------
@import "../../../scss/core/themes/xinshop";

$classname: "lig_xinmu";
.#{$classname} {
    font-family: $font-family-base;
    padding-left:0;
    li{
        list-style-type: none;
        .bt_xin{
            font-weight: normal;
            &:hover{
                color:$main-red;
            }
        }
    }
}

